
Update Destination
SET latitude = -26.195246, longitude = ‎28.034088
WHERE name = 'South Africa';

Update Destination
SET latitude = -28.000767, longitude = ‎153.429642
WHERE name = 'Gold Coast, Australia';

Update Destination
SET latitude = ‎12.136389, longitude = ‎-86.251389
WHERE name = 'Nicaragua';



SELECT * FROM Destination