@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Strike Trip.</h2>
<div class="separate"></div>
<div style="padding-bottom: 30px;"></div>
<h4>Words on why we go...</h4>

<div class="about_para">
    <p>
       "I would describe it as a surfer's/traveler's dream. To discover something rare and beutiful that only happened
        because of our constant eagerness to explore and push ourselves to do things that aren't always comfortable or safe.
        And succeeding in finding somthing like that in a place far, far away from home with no one else there besides your
        two best friends is what life is all about."
    </p>
    <p> - Good friend reminicsing about one of our greatest days thus far in life : perfect session at "Outside Left" (Lombok, Indonesia 2017)</p>
</div>
