body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: lightgray;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
th {
    border-bottom: 1px solid black;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.separate {
    width: 100%;
    height: 5px;
    background-color: #222222;
    
}
.parameters {
    padding: 10px;
    padding-top: 20px;
}
.no_flights_table {
    width: 100%;
    padding-top: 50px;
    height: 200px;
    color: red;
    opacity: .7;
    text-align: center;
}
.no_flights_params {
    color: red;
    opacity: .7;
    padding: 10px;
}
.form_map {
    padding-bottom: 20px;
    padding-top: 30px;
    width: 100%;
    

}
#map {
    height: 100%;
    
}
button {
    background: #222222;
    color: white;
}
    button:hover {
        background: #343232;
        color: #d3d3d3;
    }
.details_button {
    background-color: #222222;
    color: white;
    padding: 5px;
    border-radius: 1px;
    font-size: small;
}
.details_button:hover {
    text-decoration: none;
    color: #d3d3d3;
}
.about_para {
    margin: 50px 600px 100px 50px; 
}
tr.highlight {
    border: solid;
    border-color: #52b544;
    border-right-style: groove;
    padding: 2em;
    
    color: green;

    
}
.scrollit {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 200px;
}

#temp {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

