body {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

th {
    border-bottom: 1px solid black;
}

/* Search parameters styling*/

.separate {
    width: 100%;
    height: 5px;
    background-color: #222222;
}

.title {
    color: white;
    font-size: xx-large;
    margin-left: 15%;
}

.inputs {
    color: white;
    font-size: medium;
}

.textbox {
    padding: 9px;
    border-radius: 3px;
    border-style: none;
    background-color: #609a60;
    color: white;
}

::-webkit-input-placeholder {
    color: #abe4ab;
}

/* changing the screen size medium*/

.input1, .input2 {
    display: inline-block;
    min-width: 150px;
    max-width: 150px;
    margin: 1px;
}

.input3, .input4 {
    display: inline-block;
    min-width: 150px;
    max-width: 150px;
    margin: 1px;
}


.parameters {
    padding: 10px;
    padding-top: 20px;
}

button {
    background: #3d6636;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
    margin: 1px;
    padding: 9px;
    width: 60px;
}

    button:hover {
        background: #343232;
        color: #d3d3d3;
    }

.standards_and_map {
    margin-top: -10px;
    padding-top: 20px;
}

.selection {
    margin-left: 80px;
    min-width: 100px;
}

#standards {
    background-color: #8cc78c;
    padding: 75px;
    padding-left: 35px;
    padding-top: 45px;
    padding-bottom: 30px;
    width: 45vw;
    min-width: 300px;
    display: inline-block;
    min-height: 100%;
    max-height: 450px;
    position: relative;
}

.form_map {
    width: 45vw;
    min-width: 100px;
    display: inline-block;
    max-height: 300px;
    margin-left: 40px;
}
/*small standards and map*/
div.navbar.navbar-fixed.small_standards_and_map {
    visibility: hidden;
}
/*computers*/
@media screen and (min-width: 1150px) {
    #small_standards {
        background-color: #8cc78c;
        padding-top: 5px;
        padding-bottom: 15px;
        padding-right: 30px;
        width: 100vw;
        min-width: 240px;
        display: inline-block;
        min-height: 100%;
        max-height: 450px;
        margin-left: -1px;
        position: relative;
    }

    .small_form_map {
        max-width: 200px;
        min-width: 200px;
        max-height: 80px;
        display: inline-block;
        position: relative;
        top: 23px;
        right: -50px;
    }

    .small_selection {
        font-size: medium;
        color: white;
        width: 150px;
        position: absolute;
        right: 0;
        top: 23px;
    }
}

#small_form_inputs {
    margin-left: 5%;
    width: 100%;
}
/*ipads*/
@media screen and (max-width: 1149px) {
    .small_form_map {
        display: none;
    }

    .small_selection {
        display: none;
    }

    #small_standards {
        background-color: #8cc78c;
        padding-top: 25px;
        padding-bottom: 15px;
        padding-right: 30px;
        width: 100vw;
        min-width: 240px;
        display: inline-block;
        min-height: 100%;
        max-height: 450px;
        margin-left: -1px;
        position: relative;
    }
}
/*phones*/
@media screen and (max-width: 350px) {
    .selection {
        font-size: small;
        width: 150px;
        margin-left: 0px;
    }

    .form_map {
        width: 200px;
    }

    ul {
        margin-left: -35px;
    }
}
/*ipads*/
@media screen and (max-width: 496px) {
    .small_form_map {
        display: none;
    }

    .small_selection {
        display: none;
    }

    #small_standards {
        display: none;
    }
}

.pullup {
    background-color: #8cc78c;
    border: solid;
    border-color: #8cc78c;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    display: inline;
    float: left;
    margin-left: -1px;
}

    .pullup:hover {
        color: grey;
    }

.dropdownTag {
    background-color: #8cc78c;
    border: solid;
    border-color: #8cc78c;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    display: inline;
    float: left;
    margin-left: -1px;
}

    .dropdownTag:hover {
        color: grey;
    }

.pullupMap {
    background-color: white;
    border: solid;
    border-color: #8cc78c;
    padding: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    color: #8cc78c;
    display: inline;
    float: left;
}

    .pullupMap:hover {
        color: grey;
    }

.dropdownTagMap {
    background-color: white;
    border: solid;
    border-color: #8cc78c;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #8cc78c;
    display: inline;
    float: left;
}

    .dropdownTagMap:hover {
        color: grey;
    }

#form_inputs {
    margin-left: 15%;
    width: 100%;
}

.toggledUp {
    margin-top: 25px;
}
/* List styling */

li.trips {
    min-width: 240px;
    max-width: 240px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 20px;
    max-height: 400px;
    display: inline-block;
    border: solid;
    border-color: black;
    border-width: 2px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 2px 2px black;
    -moz-box-shadow: 0px 2px 2px black;
    box-shadow: 0px 2px 2px black;
}

@media only screen and (max-width: 765px) {
    .details {
        margin-left: 40px;
    }
}

img.wave {
    max-width: 35px;
    max-height: 35px;
}

.fa-plane, .fa-map-marker-alt, .fa-calendar-alt {
    color: grey;
}

img.spot {
    width: 236px;
    height: 130px;
    display: inline;
}

.trip_info {
    display: inline;
}

a.sky {
    margin: 0px;
    background-color: #00B2D6;
}
.details_button.details {
    background-color: #3D6636;
}

/* table styling*/
.no_flights_table {
    width: 100%;
    padding-top: 50px;
    height: 200px;
    color: red;
    opacity: .7;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.no_flights_params {
    color: red;
    opacity: .7;
    padding: 10px;
}

.details_button {
    background-color: #222222;
    color: white;
    padding: 5px;
    border-radius: 1px;
    font-size: small;
}

    .details_button:hover {
        text-decoration: none;
        color: #d3d3d3;
    }

.about_para {
    margin: 50px 600px 100px 50px;
}

li.trips.highlight {

    color: #609a60;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: black;
}


.scrollit {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 200px;
}

#temp {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
